[Unit]
Description=Slurm Daemon (slurmd)
After=network-online.target
Wants=network-online.target munged.service ipa-enroll.service

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/local/bin/start-slurmd.sh
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
